
@model HomeProfessorViewModel

@{
    var totalBanners = 0;
    var carousel = Smc.Carousel("banners")
        .Infinite()
        .Interval(5000)
        .PauseOnHover()
        .Size(SMCSize.Grid18_24, SMCSize.Grid24_24, SMCSize.Grid24_24, SMCSize.Grid18_24);
}

@{
    totalBanners++;
    carousel.AddItem(@<text>
    <div id="divBannerFALECOMAGENTE" class="smc-sga-banner-falecomagente @SMCSizeHelper.GetSizeClasses(SMCSize.Grid24_24, SMCSize.Grid24_24, SMCSize.Grid24_24, SMCSize.Grid24_24)">
        <a href="https://www.pucminas.br/destaques/Paginas/Fale-com-a-PUC-Minas.aspx" target="_blank" title="Fale com a gente">

        </a>
    </div>
    </text>);
}

@(carousel.GenerateArrows(totalBanners > 1).GenerateDots(totalBanners > 1))

<div class="smc-sga-acesso-rapido smc-size-md-5 smc-size-xs-24 smc-size-sm-24 smc-size-lg-5">
    <p class="smc-sga-acesso-rapido-titulo">Acesso Rápido</p>
    <div class="smc-sga-acesso-rapido-teams">
        <a href="https://teams.microsoft.com/dl/launcher/launcher.html?url=teams&amp;type=meetup-join&amp;enableMobilePage=true&amp;suppressPrompt=true" target="_blank" title="Acesso ao Teams">
            <p>Teams</p>
        </a>
    </div>
    <div class="smc-sga-acesso-rapido-canvas">
        <a href="https://pucminas.instructure.com/login/microsoft" target="_blank" title="Acesso ao Canvas">
            <p>Canvas</p>
        </a>
    </div>
</div>

@using (Smc.Div("DivFiltrosArquivo").CssClass("smc-sga-externo-filtro").Size(SMCSize.Grid24_24).Begin())
{
    using (Smc.Form("frmViewPadrao", "SalvarArquivo", "Sharepoint", Model).Ajax("#divArquivo").Begin())
    {
        using (Smc.Div("divFile").Begin())
        {
        @Smc.EditorFor(x => x.Arquivo)

            using (Smc.Div("divArquivo").Dependency(name: "Arquivo", action: "SalvarArquivo", controller: "Sharepoint", area: "", required: true).Attribute("data-id", "divArquivo").Size(SMCSize.Grid24_24, SMCSize.Grid24_24, SMCSize.Grid24_24, SMCSize.Grid24_24).Begin())
            {
                if (Model.LinkUrl != null)
                {
                    using (Smc.Div().CssClass("smc-sga-externo-agrupamento-primario").Size(SMCSize.Grid24_24).Begin())
                    {
                    <a href="@Model.LinkUrl" class="@SMCSizeHelper.GetSizeClasses(SMCSize.Grid24_24, SMCSize.Grid24_24, SMCSize.Grid24_24, SMCSize.Grid24_24)">@Model.LinkUrl</a>
                    }
                }
            }
        }
    }
}

@using (Smc.Div("linksUteis").CssClass("smc-sga-aluno-links-uteis").Size(SMCSize.Grid24_24, SMCSize.Grid24_24, SMCSize.Grid24_24, SMCSize.Grid24_24).Begin())
{
    <h2>Links úteis</h2>
    <ul class="@SMCSizeHelper.GetSizeClasses(SMCSize.Grid24_24, SMCSize.Grid24_24, SMCSize.Grid24_24, SMCSize.Grid24_24)">
        <li class="@SMCSizeHelper.GetSizeClasses(SMCSize.Grid4_24, SMCSize.Grid12_24, SMCSize.Grid6_24, SMCSize.Grid4_24)">
            <a target="_blank" class="smc-sga-aluno-logotipo-bdp" title="Biblioteca Digital da PUC Minas" href="https://web.sistemas.pucminas.br/BDP/PUC%20Minas">

            </a>
        </li>
        <li class="@SMCSizeHelper.GetSizeClasses(SMCSize.Grid4_24, SMCSize.Grid12_24, SMCSize.Grid6_24, SMCSize.Grid4_24)">
            <a target="_blank" class="smc-sga-aluno-logotipo-periodicocapes " title="Portal de periódicos CAPES" href="http://www-periodicos-capes-gov-br.ez93.periodicos.capes.gov.br/">

            </a>
        </li>
    </ul>
}
