@using SMC.Academico.UI.Mvc.Areas.SRC.Models
@using SMC.DadosMestres.Common.Areas.PES.Enums
@using SMC.Formularios.UI.Mvc;
@using SMC.Academico.Common.Areas.ALN.Constants;
@using SMC.Academico.Common.Areas.MAT.Constants;


@model RegistrarEntregaDocumentoViewModel

@{
    Layout = "~/Views/Shared/_LayoutFluxo.cshtml";
}

@section MenuFluxo {
    @Html.Action("MenuFluxo", Model)
}

@(Smc.SGFTemplate().Secao().Token(MatriculaTokens.PAGINA_INSTRUCOES_REGISTRO_DOCUMENTO))

@if (Model.DocumentosPendentes)
{
    using (Smc.Div().Size(SMCSize.Grid24_24).CssClass("smc-sga-mensagem smc-sga-mensagem-alerta").Begin())
    {
        using (Smc.Div().CssClass(" smc-sga-ico-mensagem").Begin())
        {
        }

        <p>@Smc.GetUIResource("Texto_Documentos_Obrigatorios_Pendentes")</p>
    }
}
else
{
    using (Smc.Div().Size(SMCSize.Grid24_24).CssClass("smc-sga-mensagem smc-sga-mensagem-informativa").Begin())
    {
        using (Smc.Div().CssClass("smc-sga-ico-mensagem").Begin())
        {
        }
        <p> @Smc.GetUIResource("Texto_Documentos_Obrigatorios_Enviados") </p>
    }
}
@{
    var buttonSet = Smc.ButtonSet().Size(SMCSize.Grid24_24);

    var backUrl = Url.Action("EntrarEtapa", new { @seqSolicitacaoServico = new SMCEncryptedLong(Model.SeqSolicitacaoServico), @SeqConfiguracaoEtapa = new SMCEncryptedLong(Model.SeqConfiguracaoEtapa) });

    if (Model.ExibirSegundaVia == true)
    {
        buttonSet.AddButton(Smc.Button("VisualizarContrato", "TermoAdesao", new { seqSolicitacaoMatricula = new SMCEncryptedLong(Model.SeqSolicitacaoServico) })
                              .Attribute("target", "_blank")
                              .Type(SMCButtonType.Link)
                              .CssClass("smc-btn-documento-icotext"));
    }

    buttonSet.AddButton(Smc.Button(SMCMvcConsts.MODAL_BEHAVIOR_OPEN)
                       .Action("RegistrarDocumentos", "RegistroDocumentosItemRoute", new
                       {
                           @seqSolicitacaoServico = Model.SeqSolicitacaoServico,
                           @backUrl = backUrl,
                           @area = string.Empty,
                           @seqPessoaAtuacao = Model.SeqPessoaAtuacao
                       })
                        .Ajax(isPost: false)
                        .CssClass("smc-sga-btn-inline")
                        .SecurityToken(UC_MAT_003_09_01.SELECIONAR_TURMAS)
                        .Attribute(SMCMvcConsts.MODAL_ID, "modalRegistrarDocumentos")
                        .Attribute(SMCMvcConsts.MODAL_TITLE, Smc.GetUIResource("Modal_Title_Registrar_Documentos"))
                        .Text(Smc.GetUIResource("Label_Registrar_Documentos"))
                        .Tooltip(Smc.GetUIResource("Label_Registrar_Documentos")));

    @buttonSet;
}

@{
    var grupoDocumentos = Model.Documentos.GroupBy(g => g.DescricaoEtapa);
}


@(Smc.Legend("legenda", SMCOrientation.Horizontal).CssClass("smc-sga-legenda").Items<SMC.Academico.Common.Areas.SRC.Enums.SituacaoEntregaDocumentoLista>())

@{ foreach (var etapa in grupoDocumentos)
    {

        @using (Smc.Div("divDescricaoEtapa").Begin())
        {
            <br />
            <legend class="fieldset>legend" style="color: #0083a2;">@etapa.Key</legend>
        }
        if (Model.DocumentosObrigatorios.OfType<SolicitacaoDocumentoViewModel>().Where(w => w.DescricaoEtapa == etapa.Key).ToList() != null &&
            Model.DocumentosObrigatorios.OfType<SolicitacaoDocumentoViewModel>().Where(w => w.DescricaoEtapa == etapa.Key).Any())
        {
            @using (Smc.Fieldset("obrigatorios").Begin())
            {
                @Html.Partial(Smc.GetExternalView(SMC.Academico.UI.Mvc.AcademicoExternalViews._REGISTRAR_REGISTRAR_DOC_ITEM), Model.DocumentosObrigatorios.OfType<SolicitacaoDocumentoViewModel>().Where(w => w.DescricaoEtapa == etapa.Key).ToList())
            }
        }

        @if (Model.GruposDocumentosObrigatorios.SelectMany(sm => sm.Value).Where(w => w.DescricaoEtapa == etapa.Key).ToList() != null && Model.GruposDocumentosObrigatorios.SelectMany(sm => sm.Value).Where(w => w.DescricaoEtapa == etapa.Key).Any())
        {
            using (Smc.Fieldset("grupoObrigatorios").Begin())
            {
                foreach (var grupo in Model.GruposDocumentosObrigatorios.Where(w => w.Value.All(a => a.DescricaoEtapa == etapa.Key)).ToList())
                {
                    TempData["__GrupoDocumentoObrigatorio"] = grupo.Key;
                    using (Smc.Fieldset("grupoObrigatorios_" + grupo.Key.Seq).LegendText(grupo.Key.Descricao).CssClass("smc-sga-fieldset-secundario").Begin())
                    {
                        @Html.Partial(Smc.GetExternalView(SMC.Academico.UI.Mvc.AcademicoExternalViews._REGISTRAR_REGISTRAR_DOC_ITEM), grupo.Value.Where(w => w.DescricaoEtapa == etapa.Key).ToList())
                    }
                }
            }
        }

        if (Model.DocumentosOpcionais.OfType<SolicitacaoDocumentoViewModel>().Where(w => w.DescricaoEtapa == etapa.Key).ToList() != null &&
            Model.DocumentosOpcionais.OfType<SolicitacaoDocumentoViewModel>().Where(w => w.DescricaoEtapa == etapa.Key).Any())
        {
            @using (Smc.Fieldset("opcionais").Begin())
            {
                @Html.Partial(Smc.GetExternalView(SMC.Academico.UI.Mvc.AcademicoExternalViews._REGISTRAR_REGISTRAR_DOC_ITEM), Model.DocumentosOpcionais.OfType<SolicitacaoDocumentoViewModel>().Where(w => w.DescricaoEtapa == etapa.Key).ToList())
            }
        }
    }

    @{
        var buttonSet2 = Smc.ButtonSet().Size(SMCSize.Grid24_24).CssClass("smc-sga-margin-top-20");

        @buttonSet2;
    }

    @using (Smc.Form("frmPagina").Ajax("#divSelecaoAtividadeAluno").Begin())
    {
        @Html.Partial("_BotoesNavegacao", Model)
    }

    @using (Smc.ModalWindow("modalRegistrarDocumentos")
        .Form("frmRegistrar", "SalvarRegistroDocumentos", "RegistroDocumentosItemRoute", new { area = string.Empty }, closeOnSubmit: true, config: x => x.Ajax())
        .Size(SMCModalWindowSize.Largest)
        .Button(SMCButtonBehavior.Salvar, "SalvarRegistroDocumentos", "RegistroDocumentosItemRoute", new { area = string.Empty }, config: bnt => bnt.DisplayMode(SMCButtonDisplayMode.TextAndIcon).Highlight())
        .Button(SMCButtonBehavior.Fechar, config: bnt => bnt.DisplayMode(SMCButtonDisplayMode.TextAndIcon))
        .Begin()) { }