@using SMC.Academico.UI.Mvc.Areas.APR.Models
@using SMC.Framework.UI.Mvc
@using SMC.Academico.Common.Areas.APR.Constants
@using SMC.Academico.UI.Mvc.Areas.APR.Views.Aula.App_LocalResources
@model AulaFiltroViewModel

@using (Smc.Form("frmFiltroAlunos", "Editar").Begin())
{
    using (Smc.Fieldset("fieldsetPesquisaViewPadrao").CssClass("smc-fieldset-filter smc-filtro-relatorio").Begin())
    {
        <h4>@Smc.GetUIResource("Configuracoes_Aula")</h4>

        @Smc.EditorFor(m => m.BackUrl)
        @Smc.EditorFor(m => m.Seq)
        @Smc.EditorFor(m => m.SeqDivisaoTurma)
        @Smc.EditorFor(m => m.AgruparAluosCurso)
    }


    if (Model.Colaboradores != null)
    {
        @(Smc.Grid("Colaboradores", Model.Colaboradores)
                .AutoGenerateColumns()
                .AllowSelect()
                .HidePager()
                .HideRowNumber()
                .HideNumberOfRowsPerPageSelector()
                .CssClass("smc-size-md-24 smc-size-xs-24 smc-size-sm-24 smc-size-lg-24"))
    }
}