@model HistoricoEscolarListarDynamicModel

@using (Smc.Div().Size(SMCSize.Grid24_24).CssClass("smc-listdetailed-item smc-sga-lista-detalhada").Begin())
{

    using (Smc.Div().CssClass("smc-listdetailed-conteudo").Size(SMCSize.Grid24_24).Begin())
    {
        // Parte superior com os componentes
        using (Smc.Div().CssClass("smc-listdetailed-header-conteudo").Size(SMCSize.Grid24_24).Begin())
        {
            // Componente
            using (Smc.Div().Begin())
            {
                @Smc.DisplayFor(p => p.DescricaoCicloLetivo).Size(SMCSize.Grid4_24, SMCSize.Grid24_24, SMCSize.Grid6_24, SMCSize.Grid2_24)
                @Smc.DisplayFor(p => p.DescricaoComponenteCurricular).Size(SMCSize.Grid16_24, SMCSize.Grid24_24, SMCSize.Grid12_24, SMCSize.Grid18_24)
                @Smc.DisplayFor(p => p.DescricaoSituacaoFinal).Size(SMCSize.Grid4_24, SMCSize.Grid24_24, SMCSize.Grid6_24, SMCSize.Grid4_24)
            }
        }

        using (Smc.Div().Size(SMCSize.Grid8_24).Begin())
        {
            @Smc.DisplayFor(p => p.Nota).Size(SMCSize.Grid8_24, SMCSize.Grid8_24, SMCSize.Grid8_24, SMCSize.Grid8_24)
            @Smc.DisplayFor(p => p.DescricaoConceito).Size(SMCSize.Grid8_24, SMCSize.Grid8_24, SMCSize.Grid8_24, SMCSize.Grid8_24)
            @Smc.DisplayFor(p => p.Faltas).Size(SMCSize.Grid8_24, SMCSize.Grid8_24, SMCSize.Grid8_24, SMCSize.Grid8_24)
            @Smc.DisplayFor(p => p.CargaHoraria).Size(SMCSize.Grid8_24, SMCSize.Grid8_24, SMCSize.Grid8_24, SMCSize.Grid8_24)
            @Smc.DisplayFor(p => p.Creditos).Size(SMCSize.Grid8_24, SMCSize.Grid8_24, SMCSize.Grid8_24, SMCSize.Grid8_24)
            @Smc.DisplayFor(p => p.ObrigatorioOptativo).Size(SMCSize.Grid8_24, SMCSize.Grid8_24, SMCSize.Grid8_24, SMCSize.Grid8_24)
        }
        // Parte inferior com os colaboradores
        using (Smc.Div().CssClass("smc-listdetailed-conteudo-lista").Size(SMCSize.Grid8_24).Begin())
        {
            <label class="smc-listdetailed-conteudo-subtitulo">@Smc.GetUIResource("Label_Colaboradores")</label>
            if (Model.Colaboradores.SMCCount() > 0)
            {
                @Smc.DisplayFor(m => m.Colaboradores).HideLabel().Size(SMCSize.Grid24_24).HideLabel()
            }
            else
            {
                using (Smc.Div().CssClass("smc-list-group-no-results").Size(SMCSize.Grid24_24).Begin())
                {
                    <p>@Smc.GetUIResource("Label_Nenhum_Registro")</p>
                }
            }
        }

        using (Smc.Div().CssClass("smc-listdetailed-conteudo-lista").Size(SMCSize.Grid8_24).Begin())
        {
            <label class="smc-listdetailed-conteudo-subtitulo">@Smc.GetUIResource("Label_Observacao")</label>
            @Smc.DisplayFor(d => d.Observacao).HideLabel().CssClass("smc-sga-pre").Size(SMCSize.Grid24_24)
        }
    }
    //if (!Model.SomenteLeitura)
    //{
        @(Smc.Templates.DetailedListButtons()
            .IsModalEdit(true, urlSubmitModal: Url.Action("SalvarSair", new { SeqAluno = new SMCEncryptedLong(Model.SeqAluno) })).Size(SMCSize.Grid1_24, SMCSize.Grid2_24, SMCSize.Grid2_24, SMCSize.Grid1_24)
            .AllowRemove(!Model.SomenteLeitura))
    @*}*@
}