@model SolicitacaoDadosAnexosViewModel

@{
    Layout = "~/Views/Shared/_LayoutFluxo.cshtml";
}

@section MenuFluxo {
    @Html.Action("MenuFluxo", Model)
}

@(Smc.SGFTemplate().Secao().Token(TOKEN_SOLICITACAO_SERVICO.SECAO_TEXTO_ATENDIMENTO_DADOS_SOLICITACAO))


@*Dados da solicitação*@

@Smc.ButtonSet().Size(SMCSize.Grid24_24).AddButton(Smc.Button(SMCButtonBehavior.Imprimir, "ImprimirDadosSolicitacaoPadrao", new { seqSolicitacaoServico = new SMCEncryptedLong(Model.SeqSolicitacaoServico), seqConfiguracaoEtapa = new SMCEncryptedLong(Model.SeqConfiguracaoEtapa), seqServico = new SMCEncryptedLong(Model.SeqServico) })
                                .Type(SMCButtonType.Link)
                                .SecurityToken()
                                .CssClass("smc-btn-imprimir-icotext")
                                .Attribute("target", "_blank"))


@using (Smc.Fieldset("fsSolicitacao").Size(SMCSize.Grid24_24).Begin())
{
    if (!string.IsNullOrEmpty(Model.DescricaoAtualizada))
    {
        @Smc.DisplayFor(x => x.DescricaoAtualizada).HideLabel();
    }
    else
    {
        @Smc.DisplayFor(x => x.DescricaoOriginal).HideLabel();
    }
}


@*Justificativa*@
@if (Model.ExigeJustificativa)
{
    using (Smc.Fieldset("fsJustificativa").Size(SMCSize.Grid24_24).Begin())
    {
        @Smc.DisplayFor(x => x.DescricaoJustificativa)
        @Smc.DisplayFor(x => x.ObservacoesJustificativa)
    }
}


@*Formulário do SGF*@
@*@if (Model.ExigeFormulario)*@
//    {
@*<label class="@SMCSizeHelper.GetSizeClasses(SMCSize.Grid24_24) smc-sga-template-sgf-titulo-secao">@Smc.GetUIResource("Label_Formularios")</label>*@
//    foreach (var item in Model.DadoFormulario)
//    {
//        var nomeFormulario = Model.NomesFormularios.FirstOrDefault(x => x.Key == item.SeqFormulario).Value;
//
//        using (Smc.Fieldset("fsFormulario_" + item.SeqFormulario).Size(SMCSize.Grid24_24).LegendText(nomeFormulario).Begin())
//        {
//            @Html.Partial("_SolicitacaoDadosAnexosFormulario", item)
//        }
//    }
//}



@*Documentos anexados*@
@if (Model.Documentos != null && Model.Documentos.Any())
{
    using (Smc.Fieldset("fsDocumentos").Size(SMCSize.Grid24_24).Begin())
    {
        @(Smc.Grid("gridDocumentos_" + Guid.NewGuid().ToString(), new SMCPagerModel<DocumentosAtendimentoItemViewModel>(Model.Documentos))
                                                                .HideGridTitle()
                                                                .Size(SMCSize.Grid24_24)
                                                                .AutoHideNavigator()
                                                                .HideNavigator()
                                                                .HideNumberOfRowsPerPageSelector()
                                                                .HidePager()
                                                                .HideRowsTotalizer()
                                                                .FieldColumn(x => x.DescricaoTipoDocumento)
                                                                .FieldColumn(x => x.Observacao)
                                                                .ButtonColumn(SMCButtonSetType.Secondary, 1, null, null, null, false,
                                                                    x =>
                                                                    {
                                                                        var itemParsed = x as DocumentosAtendimentoItemViewModel;
                                                                        return Smc.Button(SMCButtonBehavior.Visualizar).Enabled(itemParsed.ArquivoAnexado != null).Attribute("data-behavior-download", "true").Attribute("target", "_blank").DisplayMode(SMCButtonDisplayMode.Icon).Action("DownloadDocumentoGuid", "RealizarAtendimento", new { @guidFile = itemParsed.ArquivoAnexado != null ? itemParsed.ArquivoAnexado.GuidFile : Guid.NewGuid().ToString() });
                                                                    }
                                                                ))
    }
}

@using (Smc.Form("frmPagina").Begin())
{
    @Html.Partial("_BotoesNavegacao", Model)
}