@model DivisaoTurmaColaboradorListaViewModel

@if (Model.DetalhesDivisao != null)
{

    using (Smc.Div().Size(SMCSize.Grid24_24).CssClass("smc-listdetailed-item smc-sga-lista-detalhada").Begin())
    {
        using (Smc.Div().CssClass("smc-listdetailed-conteudo").Size(SMCSize.Grid24_24).Begin())
        {

            if (Model.DetalhesDivisao.Count > 0)
            {
                using (Smc.Div().Size(SMCSize.Grid24_24).CssClass("smc-listdetailed-header-conteudo").Begin())
                {
                    using (Smc.Div().Size(SMCSize.Grid24_24).CssClass("smc-listdetailed-conteudo-titulo").Begin())
                    {
                        <p>
                            @Model.DivisaoComponenteDescricao
                        </p>
                    }

                }
                @(Smc.Grid("DivisoesComponentes" + Model.SeqDivisao, new SMCPagerModel<DivisaoTurmaColaboradorDivisoesViewModel>(Model.DetalhesDivisao))
                                                                                                                    .AutoGenerateColumns()
                                                                                                                    .HideGridTitle()
                                                                                                                    .HideNavigator()
                                                                                                                    .HideRowNumber()
                                                                                                                    .Size(SMCSize.Grid24_24))

                using (Smc.Div().Size(SMCSize.Grid24_24).CssClass("smc-sga-header-detalhes-titulo-grid").Begin())
                {
                    <h3>@Smc.GetUIResource("Professor_Detalhe_Titulo")</h3>

                    @(Smc.ButtonSet()
                                 .Type(SMCButtonSetType.Secondary)
                                 .AddButton(Smc.Button(SMCMvcConsts.MODAL_BEHAVIOR_OPEN, "Incluir",
                                         new { seqTurma = new SMCEncryptedLong(Model.SeqTurma), seqDivisao = new SMCEncryptedLong(Model.SeqDivisao) },
                                         "TurmaColaboradorDivisao")
                                         .Ajax(isPost: false)
                                         .CssClass("smc-btn-novo-icotext")
                                         .SecurityToken(UC_TUR_001_02_02.ASSOCIAR_PROFESSOR_DIVISAO_TURMA)
                                         .Attribute(SMCMvcConsts.MODAL_ID, "modalAdicionarProfessor")
                                         .Attribute(SMCMvcConsts.MODAL_TITLE, Smc.GetUIResource("ProfessorDivisao_Modal_Titulo"))
                                         .Text(Smc.GetUIResource("Botao_AssociarProfessorDivisao"))
                                         .Tooltip(Smc.GetUIResource("Botao_AssociarProfessorDivisao_Tooltip"))
                                         .Enabled(Model.HabilitarBotaoAssociarProfessor)
                                         .ButtonInstructions(Smc.GetUIResource(Model.MensagemBotaoAssociarProfessor))
                                         .Hide(Model.GeraOrientacao)))
                }

                if (Model.ColaboradoresDivisao != null)
                {
                    if (Model.ColaboradoresDivisao.Count > 0)
                    {
                        using (Smc.Div().CssClass("smc-listdetailed-custom-grid").Size(SMCSize.Grid24_24).Begin())
                        {

                            using (Smc.Div().CssClass("smc-listdetailed-conteudo-subtitulo").Size(SMCSize.Grid14_24, SMCSize.Grid12_24, SMCSize.Grid12_24, SMCSize.Grid18_24).Begin())
                            {
                                @Smc.GetUIResource("Professor_Detalhe_Titulo")
                            }
                            using (Smc.Div().CssClass("smc-listdetailed-conteudo-subtitulo").Size(SMCSize.Grid6_24, SMCSize.Grid12_24, SMCSize.Grid12_24, SMCSize.Grid6_24).Begin())
                            {
                                @Smc.GetUIResource("Professor_CargaHoraria_Titulo")
                            }

                            @Smc.List("Lista", m => m.ColaboradoresDivisao).HtmlTemplate(item => Html.Partial("_DetailTurmaDivisoesColaborador", item.Value))

                        }
                    }
                }
            }
            else
            {
                using (Smc.Div().Size(SMCSize.Grid24_24).CssClass("smc-listdetailed-item").Begin())
                {
                    <label class="smc-listdetailed-conteudo-subtitulo">@Model.DivisaoComponenteDescricao</label>

                    using (Smc.Div().CssClass("smc-list-group-no-results").Size(SMCSize.Grid24_24).Begin())
                    {
                        <p>@Smc.GetUIResource("Label_Nenhum_Registro")</p>
                    }
                }
            }


        }

    }

    @*using (Smc.Div().Size(SMCSize.Grid24_24).CssClass("smc-sga-grid-divisao-componente").Begin())
        {
            if (Model.DetalhesDivisao.Count > 0)
            {
                using (Smc.Div().Size(SMCSize.Grid24_24).CssClass("smc-listdetailed-header-conteudo").Begin())
                {
                    using (Smc.Div().Size(SMCSize.Grid24_24).CssClass("smc-display smc-listdetailed-conteudo-titulo").Begin())
                    {
                        <p>
                            @Model.DivisaoComponenteDescricao
                        </p>



                    }

                }


                @(Smc.Grid("DivisoesComponentes" + Model.SeqDivisao, new SMCPagerModel<DivisaoTurmaColaboradorDivisoesViewModel>(Model.DetalhesDivisao))
                                                                            .AutoGenerateColumns()
                                                                            .HideGridTitle()
                                                                            .HideNavigator()
                                                                            .HideRowNumber()
                                                                            .Size(SMCSize.Grid24_24))

                if (Model.ColaboradoresDivisao != null)
                {
                    if (Model.ColaboradoresDivisao.Count > 0)
                    {

                        using (Smc.Div().Size(SMCSize.Grid24_24).CssClass("smc-sga-header-detalhes-titulo-grid").Begin())
                        {
                            <h3>@Smc.GetUIResource("Professor_Detalhe_Titulo")</h3>

                            @(Smc.ButtonSet()
                                                                                                .Type(SMCButtonSetType.Secondary)
                                                                                                .AddButton(Smc.Button(SMCMvcConsts.MODAL_BEHAVIOR_OPEN, "Incluir",
                                                                                                        new { seqTurma = new SMCEncryptedLong(Model.SeqTurma), seqDivisao = new SMCEncryptedLong(Model.SeqDivisao) },
                                                                                                        "TurmaColaboradorDivisao")
                                                                                                        .Ajax(isPost: false)
                                                                                                        .CssClass("smc-btn-novo-icotext")
                                                                                                        .SecurityToken(UC_TUR_001_02_02.ASSOCIAR_PROFESSOR_DIVISAO_TURMA)
                                                                                                        .Attribute(SMCMvcConsts.MODAL_ID, "modalAdicionarProfessor")
                                                                                                        .Attribute(SMCMvcConsts.MODAL_TITLE, Smc.GetUIResource("ProfessorDivisao_Modal_Titulo"))
                                                                                                        .Text(Smc.GetUIResource("Botao_AssociarProfessorDivisao"))
                                                                                                        .Tooltip(Smc.GetUIResource("Botao_AssociarProfessorDivisao_Tooltip"))))





                        }

                        using (Smc.Div().Size(SMCSize.Grid18_24).CssClass("smc-sga-grid-divisao-componente-detalhes-th").Begin())
                        {
                            @Smc.GetUIResource("Professor_Detalhe_Titulo")
                        }
                        using (Smc.Div().Size(SMCSize.Grid6_24).CssClass("smc-sga-grid-divisao-componente-detalhes-th").Begin())
                        {
                            @Smc.GetUIResource("Professor_CargaHoraria_Titulo")
                        }

                        @Smc.List("Lista", m => m.ColaboradoresDivisao).HtmlTemplate(item => Html.Partial("_DetailTurmaDivisoesColaborador", item.Value)).CssClass("smc-size-md-24 smc-size-xs-24 smc-size-sm-24 smc-size-lg-24")



                    }
                }
            }
            else
            {
                using (Smc.Div().Size(SMCSize.Grid24_24).CssClass("smc-sga-grid-divisao-componente").Begin())
                {
                    <label class="smc-listdetailed-conteudo-subtitulo">@Model.DivisaoComponenteDescricao</label>

                    using (Smc.Div().CssClass("smc-list-group-no-results").Size(SMCSize.Grid24_24).Begin())
                    {
                        <p>@Smc.GetUIResource("Label_Nenhum_Registro")</p>
                    }
                }
            }

        }*@//comentar até aqui

    //
}
