@model CursoListarDynamicModel



@using (Smc.Div().Size(SMCSize.Grid24_24).CssClass("smc-listdetailed-item").Begin())
{
    using (Smc.Div().CssClass("smc-listdetailed-conteudo").Size(SMCSize.Grid23_24, SMCSize.Grid22_24, SMCSize.Grid22_24, SMCSize.Grid23_24).Begin())
    {
        // Header item
        using (Smc.Div().CssClass("smc-listdetailed-header-conteudo").Size(SMCSize.Grid24_24).Begin())
        {
            @Smc.DisplayFor(m => m.Titulo).HideLabel().CssClass("smc-listdetailed-conteudo-titulo").Size(SMCSize.Grid24_24)
            @Smc.DisplayFor(m => m.DescricaoInstituicaoNivelEnsino).Size(SMCSize.Grid10_24)
            @Smc.DisplayFor(m => m.DescricaoSituacaoAtual).Size(SMCSize.Grid10_24)
        }
        // Div da esquerda com lsita detalhada de ofertas de cursos
        using (Smc.Div().CssClass("smc-listdetailed-conteudo-lista").Size(SMCSize.Grid12_24).Begin())
        {
            <label class="smc-listdetailed-conteudo-subtitulo">@Smc.GetUIResource("Label_CursosOfertas")</label>

            if (Model.CursosOferta.SMCCount() > 0)
            {
                @Smc.List("OfertasCurso" + Model.Seq, Model.CursosOferta).CssClass("smc-list-item-grid").Size(SMCSize.Grid24_24).HtmlTemplate(oferta => Html.Partial("_OfertaCurso", oferta))
            }
            else
            {
                using (Smc.Div().CssClass("smc-list-group-no-results").Size(SMCSize.Grid24_24).Begin())
                {
                    <p>@Smc.GetUIResource("Label_Nenhum_Registro")</p>
                }
            }
        }
        // Div da direita com entidades responsáveis
        using (Smc.Div().CssClass("smc-listdetailed-conteudo-lista smc-listdetailed-conteudo-separador-vertical").Size(SMCSize.Grid12_24).Begin())
        {
            <label class="smc-listdetailed-conteudo-subtitulo">@Smc.GetUIResource("Label_EntidadesResponsaveis")</label>

            if (Model.HierarquiasEntidades.SMCCount() > 0)
            {
                @Smc.DisplayFor(m => m.HierarquiasEntidades).HideLabel().Size(SMCSize.Grid24_24)
            }
            else
            {
                using (Smc.Div().CssClass("smc-list-no-results").Size(SMCSize.Grid24_24).Begin())
                {
                    <p>@Smc.GetUIResource("Label_Nenhum_Registro")</p>
                }
            }
        }
    }
    @Html.Partial("_DetailListButtons", Model)
}
