@model ConfiguracaoComponenteListarDynamicModel

@using (Smc.Div().Size(SMCSize.Grid24_24).CssClass("smc-listdetailed-item").Begin())
{
    using (Smc.Div().CssClass("smc-listdetailed-conteudo").Size(SMCSize.Grid23_24).Begin())
    {
        using (Smc.Div().CssClass("smc-listdetailed-header-conteudo").Size(SMCSize.Grid24_24).Begin())
        {
            @Smc.DisplayFor(m => m.DescricaoFormatada).CssClass("smc-listdetailed-conteudo-titulo").HideLabel().Size(SMCSize.Grid24_24)
        }
        using (Smc.Div().CssClass("smc-listdetailed-conteudo-lista").Size(SMCSize.Grid24_24).Begin())
        {
            <label class="smc-listdetailed-conteudo-subtitulo smc-size-md-11 smc-size-xs-11 smc-size-sm-11 smc-size-lg-11">@Smc.GetUIResource("Label_Divisoes")</label>
            <label class="smc-listdetailed-conteudo-subtitulo">@Smc.GetUIResource("Label_CargaHorariaGrade")</label>
            @Smc.List("Divisoes" + Model.Seq, Model.DivisoesComponente).HtmlTemplate(divisao => Html.Partial("_Divisao", divisao))
        }
    }
    @Smc.Templates.DetailedListButtons().Size(SMCSize.Grid1_24)
}