@using StackExchange.Profiling;
<!DOCTYPE html>
<html lang="pt-br">
<head>

    <title>@Smc.GetUIResource("SiglaAplicacao") - @Smc.RenderTitle()</title>

    <meta charset="utf-8" />
    <meta http-equiv="content-language" content="pt-br" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="accept-language" content="pt-br">
    <meta name="author" content="GTI - Gerência de Tecnologia da Informação">
    <meta name="copyright" content="© 2020 GTI" />
    <meta name="description" content="SGA - Sistema de Gestão Acadêmica">
    <meta name="keywords" content="SGA - Sistema de Gestão Acadêmica" />
    <meta name="viewport" content="width=device-width, initial-scale=1">  
    @*-- SASS RECURSOS --*@
    <!-- classes css padrões -->
    @Html.SMCRegisterBaseCss()

    @if (IsSectionDefined("Css"))
    {
        @RenderSection("Css")
    }
    @* <link href="~/Content/Css/smc-recursos.min.css" rel="stylesheet" />*@

    @Html.SMCGoogleAnalyticsTagManagerHead()
</head>
<body class="fixed sidebar-mini">
    @Html.SMCGoogleAnalyticsTagManagerBody()

    @*-- componente noscript --*@
    @Html.SMCNoScriptWarning()

    @using (Smc.Div("divConteudoPrincipal").CssClass("container-fluid").Begin())
    {
        using (Smc.Div("divConteudoPrincipalEstrutura").CssClass("row").Begin())
        {

            @*-- Conteúdo - obrigatório --*@
            <div id="divConteudoPrincipal" class="smc-conteudo-centro container-fluid smc-size-md-20 smc-size-xs-24 smc-size-sm-22 smc-size-lg-20 col-md-offset-2 col-sm-offset-1 col-lg-offset-2" data-type="smc-conteudo">

                @*-- (obrigatório) --*@
                @Smc.MessagePlaceholder(SMCMessagePlaceholders.Default).CssClass("smc-mensagens-principal")

                <section class="content">
                    @*-- Área de mensagens e alertas (obrigatório) --*@
                    @Smc.MessagePlaceholder(SMCMessagePlaceholders.Centro).CssClass("smc-mensagens-centro")

                    @*-- titulo da página (obrigatório)--*@
                    <h1>@Smc.RenderTitle()</h1>

                    @*-- componente de navegação entre páginas --*@
                    @Smc.NavigationGroup()

                    @*-- corpo da página (obrigatório) --*@
                    @RenderBody()


                    <!-- Container de alertas (obrigatório) -->
                    @using (Smc.Div("divAlerta").CssClass("bottom-right jGrowl").Attribute("data-alert-container", "default").Begin())
                    {
                    }
                </section>
            </div>

       }
    }
    @*-- componente alerta navegador (obrigatório) --*@
    @(Smc.BrowserAlert()
            .RejectBrowser(SMCBrowsers.InternetExplorer, 9)
            .RejectBrowser(SMCBrowsers.Chrome, 24)
            .RejectBrowser(SMCBrowsers.FireFox, 20)
            .RejectBrowser(SMCBrowsers.Safari, 4)
            //.SuggestedBrowsers(SMCBrowsers.Chrome, SMCBrowsers.FireFox, SMCBrowsers.InternetExplorer)
            .IconsPath("/Recursos/Images/browsers/")
    )

 
    @using (Smc.Div("divAlertaProcessando").CssClass("smc-alerta-processando").Begin())
    {
        <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
        <span class="sr-only"></span>
        <p>@Smc.GetUIResource("Layout_Texto_Aguarde")</p>
        <div>@Smc.GetUIResource("Layout_Texto_Aguarde")</div>
    }

 
    @Html.SMCRegisterBundleScripts()

    @*-- Section para renderização de scrits das views (obrigatório)--*@
    @if (IsSectionDefined("Scripts"))
    {
        @RenderSection("Scripts")
    }

     @MiniProfiler.Current.RenderIncludes()
</body>
</html>