@model MatriculaPaginaViewModelBase
@using SMC.Academico.Common.Areas.ALN.Constants

@using (Smc.Div("fieldsetParametros").Begin())
{
    @Smc.EditorFor(prop => prop.SeqSolicitacaoMatricula)
    @Smc.EditorFor(prop => prop.SeqConfiguracaoEtapa)
    @Smc.EditorFor(prop => prop.SeqSolicitacaoHistoricoNavegacao)
    @Smc.EditorFor(prop => prop.SeqSituacaoFinalSucesso)
    @Smc.EditorFor(prop => prop.SeqSituacaoFinalSemSucesso)
    @Smc.EditorFor(prop => prop.SeqSituacaoFinalCancelada)
    @Smc.EditorFor(prop => prop.SeqSolicitacaoServicoEtapa)
    @Smc.EditorFor(prop => prop.SeqPessoaAtuacao)
}

@{
    var buttonSet = Smc.ButtonSet().Size(SMCSize.Grid24_24).CssClass("smc-sga-matricula-linha-botoes");

    if (!string.IsNullOrEmpty(Model.TokenPaginaAnterior))
    {
        buttonSet.AddButton(Smc.Button(SMCButtonBehavior.Anterior)
                                            .Action(Model.ActionSalvarEtapa, "Matricula", new
                                            {
                                                @area = "MAT",
                                                @tokenRet = Model.TokenPaginaAnterior
                                            })
                                            .Id("paginaAnterior")
                                            .Type(SMCButtonType.Submit)
                                            .Attribute("formnovalidate", "formnovalidate")
                                            .Text(Smc.GetUIResource(Model.ChaveTextoBotaoAnterior))
                                            .Tooltip(Smc.GetUIResource(Model.ChaveTextoBotaoAnterior))
                                            .CssClass("smc-btn-anterior-icotext"));

    }

    buttonSet.AddButton(Smc.Button("cancelarProcesso")
                                    .Id("cancelarProcesso")
                                    .Type(SMCButtonType.Link)
                                    .Action("Index", "Home", new { area = "MAT" })
                                    .CssClass("smc-btn-cancelar-icotext"));

    if (Model.Token == MatriculaTokens.ADESAO_CONTRATO_MATRICULA)
    {
        buttonSet.AddButton(Smc.Button(SMCButtonBehavior.Salvar)
                                            .Action(Model.ActionSalvarEtapa, "Matricula", new
                                            {
                                                @area = "MAT"
                                            })
                                            .Id("proximaPagina")
                                            .Text(Smc.GetUIResource(Model.ChaveTextoBotaoProximo))
                                            .Confirm(Smc.GetUIResource("TituloConfirmacao"), Smc.GetUIResource("MensagemConfirmacao") + "<div class='smc-size-md-24 smc-size-xs-24 smc-size-sm-24 smc-size-lg-24 smc-sga-mensagem smc-sga-mensagem-alerta'><p>" + Smc.GetUIResource("MensagemLentidao") + "</p></div>", SMCWindowButtons.Yes)
                                            .ButtonInstructions(Smc.GetUIResource("ButtonInstructions_Confirmar"))
                                            .Tooltip(Smc.GetUIResource(Model.ChaveTextoBotaoProximo))
                                            .DisplayMode(SMCButtonDisplayMode.Text)
                                            .Enabled(false)
                                            .CssClass("smc-btn-proximo-icotext-destaque"));
    }
    else if (Model.Token == MatriculaTokens.ADESAO_CONTRATO_RENOVACAO)
    {
        buttonSet.AddButton(Smc.Button(SMCButtonBehavior.Salvar)
                                            .Action(Model.ActionSalvarEtapa, "Matricula", new
                                            {
                                                @area = "MAT"
                                            })
                                            .Id("proximaPagina")
                                            .Text(Smc.GetUIResource(Model.ChaveTextoBotaoProximo))
                                            .Confirm(Smc.GetUIResource("TituloConfirmacaoRenovacao"), Smc.GetUIResource("MensagemConfirmacaoRenovacao") + "<div class='smc-size-md-24 smc-size-xs-24 smc-size-sm-24 smc-size-lg-24 smc-sga-mensagem smc-sga-mensagem-alerta'><p>" + Smc.GetUIResource("MensagemLentidao") + "</p></div>", SMCWindowButtons.Yes)
                                            .ButtonInstructions(Smc.GetUIResource("ButtonInstructions_ConfirmarRenovacao"))
                                            .Tooltip(Smc.GetUIResource(Model.ChaveTextoBotaoProximo))
                                            .DisplayMode(SMCButtonDisplayMode.Text)
                                            .Enabled(false)
                                            .CssClass("smc-btn-proximo-icotext-destaque"));
    }
    else if (Model.Token == MatriculaTokens.ADESAO_CONTRATO_LATO_SENSU)
    {
        buttonSet.AddButton(Smc.Button(SMCButtonBehavior.Salvar)
                                            .Action(Model.ActionSalvarEtapa, "Matricula", new
                                            {
                                                @area = "MAT"
                                            })
                                            .Id("proximaPagina")
                                            .Text(Smc.GetUIResource(Model.ChaveTextoBotaoProximo))
                                            .Confirm(Smc.GetUIResource("TituloConfirmacaoRenovacao"), Smc.GetUIResource("MensagemConfirmacaoAdesaoResidencia") + "<div class='smc-size-md-24 smc-size-xs-24 smc-size-sm-24 smc-size-lg-24 smc-sga-mensagem smc-sga-mensagem-alerta'><p>" + Smc.GetUIResource("MensagemLentidao") + "</p></div>", SMCWindowButtons.Yes)
                                            .ButtonInstructions(Smc.GetUIResource("ButtonInstructions_ConfirmarRenovacao"))
                                            .Tooltip(Smc.GetUIResource(Model.ChaveTextoBotaoProximo))
                                            .DisplayMode(SMCButtonDisplayMode.Text)
                                            .Enabled(false)
                                            .CssClass("smc-btn-proximo-icotext-destaque"));

    }
    else
    {
        buttonSet.AddButton(Smc.Button(SMCButtonBehavior.Salvar)
                                            .Action(Model.ActionSalvarEtapa, "Matricula", new
                                            {
                                                @area = "MAT"
                                            })
                                            .Id("proximaPagina")
                                            .Text(Smc.GetUIResource(Model.ChaveTextoBotaoProximo))
                                            .Tooltip(Smc.GetUIResource(Model.ChaveTextoBotaoProximo))
                                            .DisplayMode(SMCButtonDisplayMode.Text)
                                            .CssClass("smc-btn-proximo-icotext-destaque"));
    }

    @buttonSet;
}