@using SMC.AgendadorTarefa.UI.Mvc.Extensions;

<header class="smc-ribbon">
    <nav class="navbar navbar-fixed-top @SMCSizeHelper.GetSizeClasses(SMCSize.Grid24_24, SMCSize.Grid24_24, SMCSize.Grid24_24)">
        @*-- Logo --*@
        <a href="@Url.Action("index", "home", new { @area = "" })" class="smc-aplicaco-logotipo @SMCSizeHelper.GetSizeClasses(SMCSize.Grid3_24, SMCSize.Grid6_24, SMCSize.Grid6_24)">
            @*-- Padrão para insersão de logotipo --*@
            <img class="img-responsive" src="/Recursos/Academico/4.0/Content/Images/smc-img-logo-sga.png" alt="Logotipo SGA" />
        </a>

        @*-- Busca de funcionalidades --*@
        @using (Smc.Div("divBuscaFuncionalidades").Size(SMCSize.Grid13_24, SMCSize.Grid18_24, SMCSize.Grid18_24).Begin())
        {
            @*@Smc.SearchMenu()*@
        }

        @*-- Área do usuário e nome da instituição--*@
        @using (Smc.Div("divAreaUsuario").CssClass("smc-login navbar-custom-menu").Size(SMCSize.Grid8_24, SMCSize.Grid24_24, SMCSize.Grid24_24).Begin())
        {
            @*-- Nome da Instituição --*@

            using (Smc.Div("divLoginInstituicao").CssClass("smc-login-instituicao").Size(SMCSize.Grid17_24, SMCSize.Grid15_24, SMCSize.Grid10_24, SMCSize.Grid17_24).Begin())
            {
                @Html.Action("ModalSelecionarInstituicao", "InstituicaoEnsino", new { area = "ORG" })
                @(Smc.Button("selecionarInstituicao").CssClass("smc-estilo-botao-selecionar-instituicao").Type(SMCButtonType.Link).Url(Url.Action("ModalTrocarInstituicao", "InstituicaoEnsino", new { area = "ORG" })))
            }

            @*-- Área do usuário*@
            <ul class="nav navbar-nav @SMCSizeHelper.GetSizeClasses(SMCSize.Grid7_24, SMCSize.Grid24_24, SMCSize.Grid24_24)">
                @*-- Usuário --*@

                @(Smc.UserProfileWindow()
                    .Buttons(b => b
                    .ShowProfile()
                    .ChangePassword()
                    .Logout()))
                <li>
                    @Smc.Accessibility()
                </li>

                <li>
                    @Smc.HelpWindow()
                </li>
                <li>
                    @Smc.Dashboard(SMCContext.ApplicationId)
                </li>
            </ul>
        }
    </nav>
</header>